[submodule "backend"]
	path = backend
	url = ./backend
[submodule "backend-django"]
	path = backend-django
	url = https://github.com/JAIMETM/backend-django.git
[submodule "front-React"]
	path = front-React
	url = https://github.com/JAIMETM/front-React.git
