[submodule "frontend"]
	path = frontend
	url = ./frontend
[submodule "backend"]
	path = backend
	url = ./backend
[submodule "backend-django"]
	path = backend-django
	url = https://github.com/JAIMETM/backend-django.git
